data/raw/*
data/bronze/*
data/silver/*
data/near-real-time/*

database/*

src/notebooks/.cache.sqlite
models/*
lakehouse/bronze/*
lakehouse/silver/*
lakehouse/gold/*
lakehouse/metadata/*

.venv/*
# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class